#environmentalStatsContainer
{
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 10px 10px;
}

#environmentalStatsTitleBar
{
  height: 60px;
  border-style: none solid solid solid;
  border-width: 1px;
  border-radius: 0 0 15px 15px;
  padding: 5px 15px 5px 15px;
  margin-bottom: 15px;

  & h4
  {
    display: inline-block;
    margin: 5px;
  }

  & img
  {
    $envStatsDimension: 30px;
    height: $envStatsDimension;
    width: $envStatsDimension;
    cursor: pointer;
    position: relative;
    float: right;
  }

  & p
  {
    position: relative;
    left: 25px;
  }
}

#environmentalStatsContent
{
  padding: 0 20px 5px;
  font-weight: bold;

  & h5
  {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }
}

#environmentalStatsSettings
{
  padding: 0 20px 5px;
  display: none;
}