#environmentalStatsTitleBar
{
  & img
  {
    $envStatsDimension: 30px;
    height: $envStatsDimension;
    width: $envStatsDimension;
    cursor: pointer;
    position: relative;
    float: right;
  }
}

#environmentalStatsContent
{
  font-weight: bold;

  & div
  {
    display: inline-block;
  }

  & div div
  {
    display: block;
  }

  & h5
  {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }

  & img
  {
    $environmentalMonitorGraphIconDimensions: 75px;
    height: $environmentalMonitorGraphIconDimensions;
    width: $environmentalMonitorGraphIconDimensions;
    cursor: pointer;
    position: relative;
    float: right;
    top: 10px;
    right: 15px;
  }
}

#environmentalStatsSettings
{
  display: none;

  & input[type=number]
  {
    width: 50%;
  }
}