.infoSidebarContainer
{
  height: 180px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  & .infoSidebarContainerTitleBar
  {
    height: 40px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-radius: 0 0 15px 15px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;

    & h4
    {
      display: inline-block;
      margin: 5px;
    }
  }

  & .infoSidebarContainerContent
  {
    padding: 0 20px 5px;
  }
}

#mapSelectedRoom
{
  text-align: center;
}

#roomDimensionsPortlet
{
  //Overwrite default height for portlet
  height: 100px;
}