@import "InformationSidebar/informationSidebar";
@import "EnvironmentalStatistics/environmentalStatistics";

#container
{
	position: relative;
	top: 2.5%;
	left: 10%;
	width: 60%;
}

.room
{
	border-style: groove;
	overflow: hidden;

	&:before
	{
		content: "";
		float: left;
		padding-bottom: 100%;
	}

	&:after
	{
		content: "";
		display: table;
		clear: both;
	}
}

.map-row
{
	width: 100%;
}

#stacked-row
{
	position: absolute;
	top: 300px;
}

#stairs
{
	height: 125px;
}

#office
{
	height: 175px;
}

#hallway
{
	height: 350px;
}

#kitchen
{
	height: 175px;
}

#bathroom
{
	height: 175px;
}

#boiler
{
	
}

#lounge
{
	height: 400px;
}

#bedroom
{
	height: 225px;
}

#infoSidebar
{
	width: 20%;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	border-left-style: solid;
}